<html lang="en">
<head>

	<meta charset="utf-8">
	<title>Astro Site</title>
	<meta name="description" content="CSS only mobile first navigation">
	<meta name="author" content="Samayanandaa">

	<!--Mobile specific meta goodness :)-->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!--google fonts-->
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Serif:400,700,400italic' rel='stylesheet' type='text/css'>
	
	<!--css-->
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'samayanandaa_web/style.css' %}">

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons-->
	<link rel="shortcut icon" href="img/favicon.ico">

</head>
<body id="home">

	<div class="wrapper" width="100%">
	
		<header>
		
			<h1 class="logo"><a href="">Home</a></h1>
			
			<a class="to_nav" href="#primary_nav">Menu</a>
		
		</header>
		
		<article>
		
			<h2>Feedback</h2> 
			
		</article>
		
		<nav id="primary_nav">
		
			<ul>
			
				<li><a href="about_us.html">About Us</a></li>
			
				<li><a href="natal_horoscope.html">Natal Horoscope</a></li>
			
				<li><a href="horary.html">Horary</a></li>
				
				<li><a href="annual_horoscopy.html">Annual Horoscopy</a></li>
			
				<li><a href="muhurat.html">Muhurat</a></li>
			
				<li><a href="remedies.html">Remedies</a></li>
				
				<li><a href="feedback.html">Feedback</a></li>
			
				<li class="top"><a href="#home">Top</a></li>
			
			</ul>
		
		</nav><!--end primary_nav-->
		
		<footer>
		
			<p>Copyright &copy;2018 Samayanandaa</p>
		
		</footer>
	
	</div><!--end wrapper-->
	
</body>
</html>